<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="old-password">Old password</label>
        <input 
            type="password" 
            class="form-control" 
            id="old-password"
            ngControl="old_password"
            #old_password="ngForm">

        <div *ngIf="old_password.touched && old_password.errors">

            <div
                *ngIf="old_password.errors.required" 
                class="alert alert-danger">
                Old password is required.
            </div>

            <div
                *ngIf="old_password.errors.validPassword" 
                class="alert alert-danger">
                Invalid old Password
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="new-password">New Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="new-password"
            ngControl="new_password"
            #new_password="ngForm">

        <div *ngIf="new_password.touched && new_password.errors">

            <div
                *ngIf="new_password.errors.required" 
                class="alert alert-danger">
                New password is required.
            </div>

            <div
                *ngIf="new_password.errors.minlength"
                class="alert alert-danger">
                Password must be atleast {{ new_password.errors.minlength.requiredLength }} characters
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input 
            class="form-control"
            id="confirm-password"
            type="password"
            ngControl="confirm_password"
            #confirm_password="ngForm">

        <div *ngIf="confirm_password.touched">

            <div
                *ngIf="confirm_password.errors && confirm_password.errors.required" 
                class="alert alert-danger">
                Confirm password is required.
            </div>

            <div
                *ngIf="form.errors && form.errors.match" 
                class="alert alert-danger">
                Passwords do not match.
            </div>

        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!form.valid">
</form>